body {
    background-color: white;
}

h1 {
    font-family: 'Fascinate', cursive;
    text-align: center;
    color:  #46d6aa;
}

#timePassed, #movesMade {
    color:  #46d6aa;
    font-size: 18px;
}

.starRating {
    color: #ffc75f;
}

#gameInfo {
    width: 600px;
    display: flex;
    justify-content: space-between;
} 

#gameField {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
    background: linear-gradient(45deg ,#f9f871, #ffc75f);
    padding: 10px 10px 0 10px;
    box-shadow: 10px 10px 8px #888888;
}

li {
    border-radius: 20px;
    height: calc(500px/4);
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.cardClosed {
    background-color: #00b6d0;
}

.cardOpen {
    background-color: #46d6aa;
    
}

i {
    color: white;
}


