body {
    background-color: white;
}

#gameField {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    background: linear-gradient(45deg ,#f9f871, #ffc75f);
    padding: 10px 10px 0 10px;
    box-shadow: 10px 10px 8px #888888;
}


li {
    border-radius: 20px;
    height: calc(500px/4);
    background-color: #00b6d0;
    list-style-type: none;
    margin: 10px;
}

/* use #46d6aa for inside of cards */
